body{
    width: 800px;
    margin: 0 auto;
    background-color: #eee;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline wavy;
}

h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.red {
    color: red;
    font-weight: bold;
}

footer p {
    text-align: center;
    background-color: #000;
    color: #fff;
}

main{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}